{% extends "main.html" %}
{% block title %} CALIFICACIONES | SGAPA{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calificaciones.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/styles/handsontable.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/styles/ht-theme-main.min.css" />
{% endblock %}

{% block content %}

<!-- Ventana modal -->
{% include "components/modal.html" %}

<div class="ratings" id="calificaciones">
    <div class="registration__title">
        <div class="title">
            <div class="navbar__logo">
                <span onclick="showModal('', '¿Estás seguro de que deseas cerrar sesión?', confirmLogout)"
                    class="icon material-symbols-outlined toggleBtn">
                    logout
                </span>
                <h2>Calificaciones</h2>
            </div>
        </div>
        <div class="icon__return">
            <a href="{{ url_for('dashboards.docente') }}" class="icon__link">
                <i class="material-symbols-outlined" aria-label="Table">arrow_back</i>
            </a>
        </div>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

{% for category, message in messages %}
<script>

    showModal("{{ category | title }}", "{{ message | safe}}", null);
</script>
{% endfor %}

{% endif %}
{% endwith %}

<div class="ratings__group">
    <div class="group">
        <label for="grados-select">Grupo:</label>
        <select id="grados-select" name="grados" aria-label="Selecciona un grado">
            <option value="">Seleccionar</option>
            <option value="6">Grado Sexto </option>
            <option value="7">Grado Séptimo</option>
            <option value="8">Grado Octavo</option>
            <option value="8">Grado Noveno</option>
            <option value="10">Grado Décimo</option>
            <option value="11">Grado Undécimo</option>
        </select>
    </div>
    <div class="subjects">
        <label for="asignatura-select">Asignatura:</label>
        <select id="asignatura-select" name="grados" aria-label="Selecciona una asignatura">
            <option value="">Seleccionar</option>
            <option value="1">Matemáticas</option>
            <option value="2">Castellano</option>
            <option value="3">Tecnología</option>
            <option value="4">Ética</option>
            <option value="5">Artistica</option>
        </select>
    </div>
    <div class="period">
        <label for="periodos-select">Periodo:</label>
        <select id="periodos-select" name="periodos" aria-label="Selecciona un Periodo">
            <option value="">Seleccionar</option>
            <option value="1">Primero</option>
            <option value="2">Segundo</option>
            <option value="3">Terecero</option>
            <option value="4">Cuarto</option>
        </select>
    </div>
</div>
<div class="ratings__buttons">
    <button class="btn" id="btn-cargar">Cargar<i class="material-symbols-outlined">add</i></button>
    <button class="btn" id="btn-guardar">Guardar<i class="material-symbols-outlined">save</i></button>
    <button class="btn">Imprimir<i class="material-symbols-outlined">print</i></button>
    <button class="btn">Ver Notas<i class="material-symbols-outlined">eye_tracking</i></button>
</div>
<div id="alerta" class="alerta ocultar"></div>
<div class="container__table">
    <div id="example" class="ht-theme-main-dark-auto table"></div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    /*Funcion salir al index.html*/
    function confirmLogout() {
        window.location.href = "{{ url_for('auth.logout') }}";
    }

    function showModal(title, message, action) {
        document.getElementById("modalTitle").innerText = title;
        document.getElementById("modalMessage").innerText = message;
        window.modalAction = action;

        const modal = document.getElementById("confirmModal");
        modal.style.display = "flex";
    }
    document.getElementById("modalConfirm").addEventListener("click", function () {
        if (typeof modalAction === 'function') {
            modalAction();
        }
        document.getElementById("confirmModal").style.display = "none";
    });

    document.getElementById("modalCancel").addEventListener("click", function () {
        document.getElementById("confirmModal").style.display = "none";
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const camposVacios = urlParams.get('campos_vacios');

        if (camposVacios) {
            const listaCampos = camposVacios.split(',');

            listaCampos.forEach(id => {
                const input = document.getElementById(id);
                if (input) {
                    input.classList.add('input-error');
                }
            });
        }
        document.querySelectorAll('.registration__form input, .registration__form select').forEach(input => {
            input.addEventListener('input', function () {
                this.classList.remove('input-error');
            });
        });
    });
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="{{ url_for('static', filename='js/calificaciones.js') }}"></script>


{% endblock %}