{% extends "main.html" %}
{% from "macros/circulares.j2" import circular %}
{% from "macros/header-navbar.j2" import header_navbar %}
{% include "components/modal.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/circulares.css') }}">
{% endblock %}

{% block content %}

{{ header_navbar() }}

<section class="circulares__lista">
    {% for c in circulares %}
    {{ circular(numero=c.numero, fecha=c.fecha, descripcion=c.descripcion, enlace=url_for('static',
    filename=c.enlace))
    }}
    {% endfor %}
</section>

{% block extra_js %}

{% endblock %}

{% endblock %}