{% extends "main.html" %}
{% include "components/modal.html" %}
{% from "macros/macros.j2" import header %}
{% block title %} M. ADMINISTRADOR | SGAPA {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
{% endblock %}

{% block content %}
<div class="tabs">
     {{ header(titulo="Calendario", color__fondo="var(--color-grey-card)") }}

    <ul class="tab-nav">
        <li class="active" data-tab="tab1">Estudiantes</li>
        <li data-tab="tab2">Docentes</li>
        <li data-tab="tab3">Administradores</li>
        <li data-tab="tab4">Acudientes</li>
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        showModal("{{ category | title }}", "{{ message | safe}}", null);
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="tab-content active" id="tab1">
        <div class="search__container">
            <form class="search__box" action="" method="GET">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar...">
            </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="col-id">ID</th>
                    <th class="col-nombre">Nombres</th>
                    <th class="col-apellido">Apellidos</th>
                    <th class="col-acciones">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Juan</td>
                    <td>Pérez</td>
                    <td class="td__buttons">
                        <button class="btn">Editar<i class="material-symbols-outlined">edit</i></button>
                        <button class="btn">Eliminar<i class="material-symbols-outlined">delete</i></button>
                        <button class="btn">Ver<i class="material-symbols-outlined">folder_eye</i></button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Juan</td>
                    <td>Pérez</td>
                    <td class="td__buttons">
                        <button class="btn">Editar<i class="material-symbols-outlined">edit</i></button>
                        <button class="btn">Eliminar<i class="material-symbols-outlined">delete</i></button>
                        <button class="btn">Ver<i class="material-symbols-outlined">folder_eye</i></button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Juan</td>
                    <td>Pérez</td>
                    <td class="td__buttons">
                        <button class="btn">Editar<i class="material-symbols-outlined">edit</i></button>
                        <button class="btn">Eliminar<i class="material-symbols-outlined">delete</i></button>
                        <button class="btn">Ver<i class="material-symbols-outlined">folder_eye</i></button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Juan</td>
                    <td>Pérez</td>
                    <td class="td__buttons">
                        <button class="btn">Editar<i class="material-symbols-outlined">edit</i></button>
                        <button class="btn">Eliminar<i class="material-symbols-outlined">delete</i></button>
                        <button class="btn">Ver<i class="material-symbols-outlined">folder_eye</i></button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Juan</td>
                    <td>Pérez</td>
                    <td class="td__buttons">
                        <button class="btn">Editar<i class="material-symbols-outlined">edit</i></button>
                        <button class="btn">Eliminar<i class="material-symbols-outlined">delete</i></button>
                        <button class="btn">Ver<i class="material-symbols-outlined">folder_eye</i></button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Juan</td>
                    <td>Pérez</td>
                    <td class="td__buttons">
                        <button class="btn">Editar<i class="material-symbols-outlined">edit</i></button>
                        <button class="btn">Eliminar<i class="material-symbols-outlined">delete</i></button>
                        <button class="btn">Ver<i class="material-symbols-outlined">folder_eye</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-content tab-2" id="tab2">
    </div>
    <div class="tab-content tab-3" id="tab3">
    </div>
    <div class="tab-content tab-4" id="tab4">
    </div>
</div>

{% block extra_js %}
<script src="{{url_for('static', filename='js/tabs-modal.js') }}"></script>
<script>   
    function confirmLogout() {
        window.location.href = "{{ url_for('auth.logout') }}";
    }    
</script>
{% endblock %}

{% endblock %}