@import url("variables.css"); 
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.assistance {
  width: 90%;
  margin: 0 auto;
}


.assistance__title {
  display: flex;  
  justify-content: space-between;
  align-items: center;  
  gap: 20px;
  text-align: start;
  margin: 10px 1px 10px 2px;
  padding: 10px;
  height: 50px;
  border-radius: var(--border-radius);  
  border: 1px solid var(--color-orange-card);
  background: var(--color-orange-card);
  color:var(--color-white);
}

.assistance__title .title{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20px;
} 

.assistance__title .icon__return i{
  font-size: var(--fs-2xl);
  color: var(--color-white);
  cursor: pointer;
}

.navbar__logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;  
    margin-left:25px;  
    gap: var(--spacing-md);
}

.navbar__logo .icon, 
.nav-item span {
    font-size:var(--size-title-medium);
    color: var(--color-white);
    cursor: pointer;
}

.navbar__logo .icon{
    transform: rotate(180deg);
}

.navbar__logo .icon:hover{
    color: var(--color-white);
    transform: scale(1.2);   
    transition: all 0.3s ease;
}


.navbar__logo .title {
    font-size: var(--fs-base);
    color: var(--color-white);
    font-weight: var(--fw-bold); 
    font-size:var(--size-title-medium-small);
    text-decoration: none;
}

.navbar__logo .danger {
    color: var(--color-danger);
    font-weight: var(--fw-bold);
}

.navbar__logo h2{
  letter-spacing: 2px;
}

.assistance__group {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.assistance__group select {
  display:flex;
  flex-direction:column;
  margin-top:10px;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.assistance__buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}

.assistance__buttons .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  width: 140px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.assistance__buttons .btn:first-child {
  background-color: var(--color-button-load);
}

.assistance__buttons .btn:nth-child(1):hover {
  background-color: var(--color-button-load-hover);
  transform: scale(1.10);
  color: var(--color-hover-btn-2);
}

.assistance__buttons .btn:nth-child(2) {
  background: var(--color-button-save);
}

.assistance__buttons .btn:nth-child(2):hover {
  background-color: var(--color-button-save-hover);
  transform: scale(1.10);
  color: var(--color-hover-btn-2);
}

.assistance__buttons .btn:nth-child(3) {
  background-color: var(--color-button-delete);
}

.assistance__buttons .btn:nth-child(3):hover {
  background-color: var(--color-button-delete-hover);
  transform: scale(1.10);
  color: var(--color-hover-btn-2);
}

.assistance__buttons .btn:last-child {
  background-color: var(--color-button-print);
}

.assistance__buttons .btn:last-child:hover {
  background-color: var(--color-button-print-hover);
  transform: scale(1.10);
  color: var(--color-hover-btn-2);
}

.assistance__notes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

 /* table*/

.table__edit {
  width: 88%;
  table-layout: fixed; 
  border-collapse: collapse;
  margin: 50px auto;
}

.table__name {
  width: 120px;
  min-width: 200px; 
  font-size: 14px;
}  

.table__notes {
  width: 40px; 
  min-width: 30px;
  font-size: 12px;
}

.table__edit th, 
.table__edit td {
  border: 1px solid var(--color-hover-btn-2);
  padding: 10px;
  text-align: center;
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--color-text);
}

.nota-final {
  font-weight: bold;
  background-color: #f0f8ff;
  pointer-events: none; 
}


.table__edit [contenteditable="true"]:focus {
  outline: 2px solid #4CAF50;
  background-color: #fffacd;
}

.attendance-check {
  transform: scale(1.5);
  cursor: pointer;
}

.observation-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.total-cell {
  font-weight: bold;
  background-color: #f9f9f9;
}


