@import url("variables.css"); 
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  background-image:url('/static/img/fondo_4.jpg');  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

header.navbar.down {
    background: var(--color-title);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
}

.circulares__lista{   
   max-width: 1200px;
   width: 1000px;
   height:100vh;
   margin: 100px auto; 
}

.information{
  display: flex;
  justify-content: space-between;
  align-items:center;  
  padding:20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;  
  height:120px;
  margin: 20px;
  width:100%;  
  color: var(--color-blue-midnight); 
}

.information .information__card{
  display: flex;
  justify-content:space-between;
  align-items:center;
  gap:20px;
}

.information__card img{
  width:70px;
  height:70px;
}

.information__card h3{
  font-size: 22px;
  margin: 0;
  color: inherit;  
}

.information__subtitle p{
  font-size: 20px;   
  color: inherit;
}

.pdf__date{
  font-size: 14px;
  color:black;
}

.btn__download {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-button-download);
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn__download:hover {
  background-color: var(--color-button-download-hover);
  transform:scale(1.10);
}

