@import url("variables.css"); 
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;  
}

header.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.0rem 5%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 100;    
}

.navbar__link {
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 1.5px;
}

.navbar__link .danger {
    color: var(--color-danger);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.navbar__brand:hover .navbar__link{
    color: var(--color-accent);
    border-bottom: 3px solid  var(--color-accent);     
}

.navbar__brand:hover .danger{
    color: var(--color-white);
}

 
.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navbar__item a {
    font-size: 1.3rem;
    color: var(--color-white);
    font-weight: var(--fw-regular);
    letter-spacing: 1px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.navbar__item a:hover {
    color: var(--color-hover);
    border-bottom: 3px solid var(--color-hover);
    font-size: 1.4rem;
    letter-spacing: .4px;
}

.navbar__btn a {
    font-size: 1.4rem;
    color: var(--color-white);
    padding: 5px 15px;
    border-radius: 8px;
    border: 2px solid var(--color-white);
    transition: all 0.3s ease;
}

.navbar__btn a:hover {
    background-color: var(--color-hover);
    border: 2px solid transparent;    
    transform: scale(1.10);
    
}