@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
  display: flex;  
  justify-content: space-between;
  align-items: center;  
  gap: 20px;
  text-align: start;
  margin: 10px 1px 10px 2px;
  padding: 10px;
  height: 70px;
  border-radius: 10px 10px 0 0;  
  font-family: 'Poppins', sans-serif; 
  color:var(--color-white);
  flex-wrap: wrap;
}

.header .logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;  
    margin-left:15px; 
    color: white; 
    gap: 30px;
}

.header .logo i{
    font-size: 2.3rem;
    color: white;
    transition: color 0.3s ease;
    border-radius: 50%;
    transition: transform 0.3s ease;
    cursor: pointer;
    padding:5px;   
}

.logo i:hover  {
    animation: pulse-border 1s infinite;
    transform: scale(1.1);
    color: var(--color-primary);
}

.logo h2 { 
  font-size: 1.4rem;
  letter-spacing:1px;
  white-space: nowrap;
}

.return {
    display:flex;
    align-items:center;    
    color: white;    
    border-radius: 50%;
    cursor: pointer;
    margin-right:20px;
    transition: color 0.3s ease;     
}

.return .icon{
    font-size: 2.2rem;    
    transition: all 0.3s ease;
    padding:5px;  
}

.return:hover  {
    animation: pulse-border 1s infinite;
    transform: scale(1.1);    
}

.return:hover .icon{
   color: var(--color-button-delete);
   transform: rotate(180deg) scale(1.1);
}


@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

