@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.report {
    width: 85%;     
    margin: 0 auto;
}

.registration__title{
  display: flex;  
  justify-content: space-between;
  align-items: center;  
  gap: 20px;
  text-align: start;
  margin: 10px 1px 10px 2px;
  padding: 10px;
  height: 50px;
  border-radius: var(--border-radius);  
  border: 1px solid var(--color-button-generate);
  background: var(--color-button-generate);
  color:var(--color-white);
}

.registration__title .title{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20px;
} 

.registration__title .icon__return i{
  font-size: var(--fs-2xl);
  color: var(--color-white);
  cursor: pointer;
}

.navbar__logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;  
    margin-left:25px;  
    gap: var(--spacing-md);
}

.navbar__logo .icon, 
.nav-item span {
    font-size:var(--size-title-medium);
    color: var(--color-white);
    cursor: pointer;
}

.navbar__logo .icon{
    transform: rotate(180deg);
}

.navbar__logo .icon:hover{
    color: var(--color-white);
    transform: scale(1.2);   
    transition: all 0.3s ease;
}


.navbar__logo .title {
    font-size: var(--fs-base);
    color: var(--color-white);
    font-weight: var(--fw-bold); 
    font-size:var(--size-title-medium-small);
    text-decoration: none;
}

.navbar__logo .danger {
    color: var(--color-danger);
    font-weight: var(--fw-bold);
}
  
.report__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;   
    margin: auto;
    padding-top: 40px;
}

.report__group .group{
    margin-left:40px;
}

.report__group select {
    display:flex;
    flex-direction:column;
    margin-top:10px;
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
    
.report__type {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 40px;
}
  
.report__type select {   
    margin-top:10px;  
    width: 440px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.report__buttons {
  display: flex;
  justify-content: start;
  margin: 50px 0 0 40px;
}

.report__buttons .btn {
display: flex;
align-items: center;
justify-content: space-between;
padding: 8px 15px;
width: 140px;
font-size: 16px;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.report__buttons .btn:first-child {
  background: var(--color-button-generate);
}

.report__buttons .btn:nth-child(1):hover {
  background: var(--color-button-generate-hover);
  transform: scale(1.10);
  color: var(--color-hover-btn-2);
}
  