{% extends "main.html" %}
{% block title %} ESTUDIANTE| SGAPA{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/estudiante.css') }}">
{% endblock %}
{% include "components/modal.html" %}

{% block content %}
<!-- Navbar -->
{% block navbar %}
{% include "layouts/navbar.html" with context %}
{% endblock %}

|
<div class="home__student">
    <div class="home__title">
        <h2 class="title">Bienvenido(a) Estudiante</h2>
        <span class="date">{{ fecha_actual }}</span>
    </div>
    <div class="student__row">
        <a href="{{ url_for('dashboards.mi_horario') }}">
            <div class="stat">
                <img src="{{ url_for('static', filename='img/calendarioE.png') }}" alt="horario">
                <h3>Horario</h3>
            </div>
        </a>
        <a href="{{ url_for('secciones.ver_actividades') }}">
            <div class="stat">
                <img src="{{ url_for('static', filename='img/actividadesE.png') }}" alt="actividades">
                <h3>Actividades</h3>
            </div>
        </a>
        <a href="#">
            <div class="stat">
                <img src="{{ url_for('static', filename='img/evaluaciones.png') }}" alt="evaluaciones">
                <h3>Evaluaciones</h3>
            </div>
        </a>
        <a href="#">
            <div class="stat">
                <img src="{{ url_for('static', filename='img/reportesE.png') }}" alt="reportes">
                <h3>Reportes</h3>
            </div>
        </a>
    </div>
</div>

{% block extra_js %}
<script>
    function confirmLogout() {
        window.location.href = "{{ url_for('auth.logout') }}";
    }
</script>
<script src="{{ url_for('static', filename='js/administrador.js') }}"></script>
{% endblock %}

{% endblock %}