<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ====================================
        Proyecto: SGAPA - Software de Gestión Escolar
        Empresa: SGAPA
        Descripción: Plantilla base del sistema SGAPA
        Autor: [ Jhon F. Hidalgo]
        Última actualización: [14-Julio-2025]
    ==================================== -->

    <!-- Metadatos esenciales -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ request.base_url }}">
    <meta name="author" content="SGAPA - Software de Gestión Escolar">
    <meta name="description"
        content="SGAPA es un software de gestión escolar que optimiza la administración educativa.">
    <meta name="keywords" content="SGAPA, software escolar, gestión académica, administración educativa">

    <!-- Open Graph (para compartir en redes sociales) -->
    <meta property="og:title" content="SGAPA - Software de Gestión Escolar">
    <meta property="og:description" content="Optimiza la administración educativa con SGAPA.">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="website">

    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">

    <title>{% block title %} SGAPA | Flask v2.0 {% endblock %}</title>

    <!-- Estilos generales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">

    <!-- Fuentes e íconos -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Macro botones-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">    
    <!-- Header block-->
     <link rel="stylesheet" href="{{url_for('static', filename='css/header-block.css')}}">
     <!--Header-navbar-->
      <link rel="stylesheet" href="{{url_for('static', filename='css/header-navbar.css')}}">
    
    {% block extra_css %}{% endblock %}   

</head>
<body class="{% block body_class %}{% endblock %}">
    <main>
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}  
    {% endblock %}
</body>
</html>