<div id="searchTeacherModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-btn" onclick="closeSearchModal()">&times;</span>
            <h3 class="modal-title">Lista de Docentes</h3>
            <p class="modal-subtitle">Sistema de Gestión Administrativa y Procesos Academémicos (SGAPA)</p>
        </div>
        <div class="search-container">
            <input type="text" class="searchTeacherInput" id="searchTeacherInput"
            placeholder="Buscar por Nombres o Apellidos..." onkeyup="filterTeachersTable()">
        </div>
 
        
        <div class="teacher-table-container">
            <table class="teacher-table" id="teacherTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="teacherTableBody">
                    <!-- Datos cargados dinámicamente -->
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>