{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}

<div id="confirmModal" class="modal">
    <div class="modal-box">
        <span class="modal-close" id="modalCloseBtn">&times;</span>
        <div class="modal__title">
            <h2>SG<span>A</span>PA</h2>
        </div>
        <h3 id="modalTitle" class="modal__title">¿Estás seguro?</h3>
        <div id="modalMessage" class="modal-message">Esta acción no se puede deshacer.</div>
        <div class="modal-buttons">
            <buttons id="modalConfirm" class="btns btns-confirm">
                <i class="material-symbols-outlined">check_circle</i>
                <p>Confirmar</p>
            </buttons>
            <buttons id="modalCancel" class="btns btns-cancel">
                <i class="material-symbols-outlined">close</i>
                <p>Cancelar</p>
            </buttons>
        </div>
    </div>
</div>

{%block extra_js %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}